/node_modules
/public/hot
public*
public/*
/public/storage/*
/storage/*.key
# /app/Providers*
/app/Policies*
app/Console/Kernel.php 
app/Exceptions/Handler.php
# app/Http/Middleware/*           
artisan                                                          
bash.exe.stackdump                                               
bootstrap/*
composer.json
composer.lock                                                     
package.json
paystack.php
php.ini 
phpunit.xml 
public/.htaccess
config*
/vendor
/uploads*
# resources/views/vendor/*
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
