/node_modules
/public/hot
/public
/public/storage
/storage/*.key
/app/Providers
/app/Policies
/vendor
/uploads
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
bootstrap/*